
    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url(../assets/images/banner/breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Administration</li>
                        </ul>
                        <h2 class="section-title">Administration Directory</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- faculty directory -->
    <div class="rts-program rts-section-padding">
        <div class="container">
            <div class="rts-program-description">
                <div class="row align-items-center g-3">
                    <div class="col-lg-6">
                        <h3 class="rts-section-title">The Accounting program offers a Bachelor of Science in Accounting.</h3>
                    </div>
                    <div class="col-lg-6">
                        <p class="rts-section-description">The program continues to attract students from all ethnic, racial, and cultural backgrounds as they recognize ways that Africana Studies provides them with a forum to examine the intellectual life, the historical experience, and the cultural understanding of one of this country’s largest racial minority groups.</p>
                    </div>
                </div>
                <div class="row sticky-coloum-wrap">
                    <div class="program-description-area" id="curriculum">
                        <div class="program-credit-area">
                            <div class="program-accordion">
                                <div class="accordion" id="rts-accordion">
                                    <!-- single accordion -->
                                    <div id="course-curriculum" class="accordion-item">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Office of Southeast University Trust
                                        </button>
                                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#rts-accordion">
                                            <div class="accordion-body-content">
                                                <div class="row justify-content-md-center g-5">
                                                    <!-- single staff item -->
                                                    <div class="col-lg-6 col-md-11">
                                                        <div class="single-staff">
                                                            <div class="single-staff__content">
                                                                <div class="staf-image">
                                                                    <img src="../assets/images/faculty/01.jpg" alt="staff-image">
                                                                </div>
                                                                <div class="staf-info">
                                                                    <h5 class="name">Jennifer Aarons, PhD</h5>
                                                                    <span class="designation">Assistant Professor</span>
                                                                    <div class="staf-info__social">
                                                                        <a href="faculty.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-medium"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-youtube"></i></a>
                                                                    </div>
                                                                    <a href="mailto:jenni@Unipixuni.edu" class="email-contact"><span><i class="fa-light fa-envelope"></i></span>jenni@Unipixuni.edu</a>
                                                                    <a href="calltto:121" class="phone-contact"><span><i class="fa-light fa-phone"></i></span>+1 2245 1247 241</a>
                                                                    <div class="staf-info__speciality">
                                                                        <p>Hospitality, Tourism, Event Management and Esports</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- single staff item -->
                                                    <div class="col-lg-6 col-md-11">
                                                        <div class="single-staff">
                                                            <div class="single-staff__content">
                                                                <div class="staf-image">
                                                                    <img src="../assets/images/faculty/02.jpg" alt="staff-image">
                                                                </div>
                                                                <div class="staf-info">
                                                                    <h5 class="name">Barry Palatnik, Ed.D</h5>
                                                                    <span class="designation">Associate Professor of History</span>
                                                                    <div class="staf-info__social">
                                                                        <a href="faculty.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-medium"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-youtube"></i></a>
                                                                    </div>
                                                                    <a href="mailto:jenni@Unipixuni.edu" class="email-contact"><span><i class="fa-light fa-envelope"></i></span>jenni@Unipixuni.edu</a>
                                                                    <a href="calltto:121" class="phone-contact"><span><i class="fa-light fa-phone"></i></span>+1 2245 1247 241</a>
                                                                    <div class="staf-info__speciality">
                                                                        <p>Hospitality, Tourism, Event Management and Esports</p>
                                                                    </div>
                                                                    <a href="faculty-details.html" class="rts-theme-btn border-btn">More Details</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- single staff item -->
                                                    <div class="col-lg-6 col-md-11">
                                                        <div class="single-staff">
                                                            <div class="single-staff__content">
                                                                <div class="staf-image">
                                                                    <img src="../assets/images/faculty/03.jpg" alt="staff-image">
                                                                </div>
                                                                <div class="staf-info">
                                                                    <h5 class="name">Marc Robinson, MBA</h5>
                                                                    <span class="designation">Teaching Specialist of Accounting</span>
                                                                    <div class="staf-info__social">
                                                                        <a href="faculty.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-medium"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-youtube"></i></a>
                                                                    </div>
                                                                    <a href="mailto:jenni@Unipixuni.edu" class="email-contact"><span><i class="fa-light fa-envelope"></i></span>jenni@Unipixuni.edu</a>
                                                                    <a href="calltto:121" class="phone-contact"><span><i class="fa-light fa-phone"></i></span>+1 2245 1247 241</a>
                                                                    <div class="staf-info__speciality">
                                                                        <p>Hospitality, Tourism, Event Management and Esports</p>
                                                                    </div>
                                                                    <a href="faculty-details.html" class="rts-theme-btn border-btn">More Details</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- single staff item -->
                                                    <div class="col-lg-6 col-md-11">
                                                        <div class="single-staff">
                                                            <div class="single-staff__content">
                                                                <div class="staf-image">
                                                                    <img src="../assets/images/faculty/04.jpg" alt="staff-image">
                                                                </div>
                                                                <div class="staf-info">
                                                                    <h5 class="name">Jennifer Aarons, PhD</h5>
                                                                    <span class="designation">Assistant Professor</span>
                                                                    <div class="staf-info__social">
                                                                        <a href="faculty.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-medium"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-youtube"></i></a>
                                                                    </div>
                                                                    <a href="mailto:jenni@Unipixuni.edu" class="email-contact"><span><i class="fa-light fa-envelope"></i></span>jenni@Unipixuni.edu</a>
                                                                    <a href="calltto:121" class="phone-contact"><span><i class="fa-light fa-phone"></i></span>+1 2245 1247 241</a>
                                                                    <div class="staf-info__speciality">
                                                                        <p>Hospitality, Tourism, Event Management and Esports</p>
                                                                    </div>
                                                                    <a href="faculty-details.html" class="rts-theme-btn border-btn">More Details</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single accordion -->
                                    <div id="course-curriculum" class="accordion-item">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            Office of The Vice Chancellor
                                        </button>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#rts-accordion">
                                            <div class="accordion-body-content">
                                                <div class="row justify-content-md-center g-5">
                                                    <!-- single staff item -->
                                                    <div class="col-lg-6 col-md-11">
                                                        <div class="single-staff">
                                                            <div class="single-staff__content">
                                                                <div class="staf-image">
                                                                    <img src="../assets/images/faculty/01.jpg" alt="staff-image">
                                                                </div>
                                                                <div class="staf-info">
                                                                    <h5 class="name">Jennifer Aarons, PhD</h5>
                                                                    <span class="designation">Assistant Professor</span>
                                                                    <div class="staf-info__social">
                                                                        <a href="faculty.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-medium"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-youtube"></i></a>
                                                                    </div>
                                                                    <a href="mailto:jenni@Unipixuni.edu" class="email-contact"><span><i class="fa-light fa-envelope"></i></span>jenni@Unipixuni.edu</a>
                                                                    <a href="calltto:121" class="phone-contact"><span><i class="fa-light fa-phone"></i></span>+1 2245 1247 241</a>
                                                                    <div class="staf-info__speciality">
                                                                        <p>Hospitality, Tourism, Event Management and Esports</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- single staff item -->
                                                    <div class="col-lg-6 col-md-11">
                                                        <div class="single-staff">
                                                            <div class="single-staff__content">
                                                                <div class="staf-image">
                                                                    <img src="../assets/images/faculty/03.jpg" alt="staff-image">
                                                                </div>
                                                                <div class="staf-info">
                                                                    <h5 class="name">Marc Robinson, MBA</h5>
                                                                    <span class="designation">Teaching Specialist of Accounting</span>
                                                                    <div class="staf-info__social">
                                                                        <a href="faculty.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-medium"></i></a>
                                                                        <a href="faculty.html#"><i class="fa-brands fa-youtube"></i></a>
                                                                    </div>
                                                                    <a href="mailto:jenni@Unipixuni.edu" class="email-contact"><span><i class="fa-light fa-envelope"></i></span>jenni@Unipixuni.edu</a>
                                                                    <a href="calltto:121" class="phone-contact"><span><i class="fa-light fa-phone"></i></span>+1 2245 1247 241</a>
                                                                    <div class="staf-info__speciality">
                                                                        <p>Hospitality, Tourism, Event Management and Esports</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faculty directory end -->