
        <!-- BREADCRUMB AREA -->
        <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url({{aboutPage.thumbnailUrl}});">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">about</li>
                            </ul>
                            <h2 class="section-title">{{aboutPage.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BREADCRUMB AREA END -->
    
    
        <!-- about university -->
        <section class="rts-about-university rts-section-padding">
            <div class="container">
                <div class="row">
                    <div class="rts-section">
                        <div class="col-lg-4 col-md-5">
                            <h3 class="rts-section-title">{{aboutPage.shortTitle}}</h3>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <p class="rts-section-description">
                                {{aboutPage.details}}
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row g-5 justify-content-md-center justify-content-start">
                    <div class="col-lg-7 col-xl-8 col-md-11">
                        <div class="rts-about-section">
                            <img src="{{aboutPage.achievementImageUrl}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4 col-md-11">
                        <div class="rts-about-details">
                            <div *ngFor="let achiv of aboutPage.achievements | slice: 0:3" class="single-about-info">
                                <div class="content">
                                    <h3 class="title">{{achiv.achievement}}</h3>
                                    <img src="{{achiv.iconUrl}}" alt="">
                                </div>
                                <div class="desc">
                                    <p>{{achiv.details}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about university end -->
    
        <!-- history -->
        <div class="rts-history">
            <div class="container">
                <div class="row g-5 justify-content-md-center justify-content-start align-items-center">
                    <div class="col-lg-6 col-md-11">
                        <div class="rts-history-image">
                            <img src="{{aboutPage.historyImageUrl}}" alt="history">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-11">
                        <div class="rts-history-section">
                            <h4 class="rts-section-title mb--40">The history of Southeast</h4>
                            <p>
                                {{aboutPage.historyDetails}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- history end-->
    
    
        <div class="rts-funfact rts-section-padding">
            <div *ngIf="achivementsLength > 3" class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 ">
                        <div class="rts-funfact-wrapper">
                            <div *ngFor="let achiv of aboutPage.achievements | slice: 3:aboutPage.achievements?.length" class="single-cta-item">
                                <h2 class="single-cta-item__title">{{achiv.achievement}}</h2>
                                <p>{{achiv.details}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!-- mission -->
        <section class="rts-mission m-bottom">
            <div class="container">
                <div class="row justify-content-center rt-center">
                    <div class="rts-section mb--50">
                        <h2 class="rts-section-title">Mission and Values</h2>
                    </div>
                </div>
                <!-- mission -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="rts-timeline-section">
                            <div class="rts-timeline-content">
                                <div class="left-side">
                                    <div *ngFor="let mission of aboutPage.missionAndValues; let isOdd = odd; let isEven = even"
                                            [hidden]="isOdd"
                                          class="single-timeline-item">
                                        <h5 class="timeline-title">{{mission.title}}</h5>
                                        <p> {{mission.details}}
                                        </p>
                                        <img src="{{mission.imageUrl}}" alt="">
                                    </div>
                                    
                                </div>
                                <div class="separator">
                                </div>
                                <div class="right-side">
                                    <div *ngFor="let mission of aboutPage.missionAndValues; let isOdd = odd; let isEven = even"
                                            [hidden]="isEven"
                                          class="single-timeline-item">
                                        <h5 class="timeline-title">{{mission.title}}</h5>
                                        <p> {{mission.details}}
                                        </p>
                                        <img src="{{mission.imageUrl}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- mission end-->
    
        <!-- team -->
        <section class="rts__section rts__light rts-section-padding">
            <div class="container">
                <div class="row">
                    <div class="rts__section--wrapper">
                        <h2 class="rts__section--title">University Trust</h2>
                        
                    </div>
                </div>
                <!-- team member area -->
                <div class="row g-5">
                    <!-- single team -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="rts__single--member">
                            <div class="rts__single--member--thumb">
                                <a href="faculty-details.html">
                                    <img src="../assets/images/speaker/teacher__1.jpg" alt="">
                                </a>
                            </div>
                            <div class="rts__single--member--meta">
                                <h5 class="rts__single--member--meta--title">
                                    <a href="faculty-details.html">C. Hannah Ueno</a>
                                </h5>
                                <span class="rts__single--member--meta--designation">
                                    Assistant Professor
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- single team end -->
                    <!-- single team -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="rts__single--member">
                            <div class="rts__single--member--thumb">
                                <a href="faculty-details.html">
                                    <img src="../assets/images/speaker/teacher__2.jpg" alt="">
                                </a>
                            </div>
                            <div class="rts__single--member--meta">
                                <h5 class="rts__single--member--meta--title">
                                    <a href="faculty-details.html">Thomas Fred</a>
                                </h5>
                                <span class="rts__single--member--meta--designation">
                                    Associate Professor of History
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- single team end -->
                    <!-- single team -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="rts__single--member">
                            <div class="rts__single--member--thumb">
                                <a href="faculty-details.html">
                                    <img src="../assets/images/speaker/teacher__3.jpg" alt="">
                                </a>
                            </div>
                            <div class="rts__single--member--meta">
                                <h5 class="rts__single--member--meta--title">
                                    <a href="faculty-details.html">Jennifer Aarons</a>
                                </h5>
                                <span class="rts__single--member--meta--designation">
                                    Professor of Art
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- single team end -->
                    <!-- single team -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="rts__single--member">
                            <div class="rts__single--member--thumb">
                                <a href="faculty-details.html">
                                    <img src="../assets/images/speaker/teacher__4.jpg" alt="">
                                </a>
                            </div>
                            <div class="rts__single--member--meta">
                                <h5 class="rts__single--member--meta--title">
                                    <a href="faculty-details.html">Michael McGarvey</a>
                                </h5>
                                <span class="rts__single--member--meta--designation">
                                    Professor of Literature
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- single team end -->
                </div>
                <!-- team member area end -->
            </div>
        </section>
        <!-- team end -->
        <section class="rts-campus-tour rts-section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <h2 class="section-title rt-center mb--50">Our Campus Tour</h2>
                    <div class="col-12">
                        <div class="rts-video-section height-500 mb--50">
                            <a href="https://www.youtube.com/watch?v=Uwq1uiuM_9w" class="rts-video-section-player popup-video video-btn">
                                <i class="fa-sharp fa-solid fa-play"></i>
                            </a>
                            <img src="../assets/images/about/video-thumb.jpg" alt="video-bg">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="rts-video-section-text rt-center mx-3">
                            <p>Embark on a journey of knowledge, discovery, and growth at Southeast University. Our admissions process is designed to identify bright, motivated individuals who are eager to contribute to our dynamic academic community. Whether you're a recent high school graduate or a transfer student seeking a new academic home, we invite you to explore the possibilities that await you.</p>
                            <a href="campus-life.html" class="mt--15 about-btn rts-nbg-btn btn-arrow">Visit Campus <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Testimonial Start -->
        <div class="rts-testimonial rts-section-padding">
            <div class="container">
                <!-- testimonial content -->
                <div class="row">
                    <div class="col-12">
                        <div class="rts-testimonial-box">
                            <div class="testimonial-item rt-flex">
                                <div class="testimonial-item-image">
                                    <img src="../assets/images/testimonial/testimonial-big.jpg" alt="testimonial thumbnail">
                                </div>
                                <div class="testimonial-item-content w-570 rt-relative">
                                    
                                        <div class="swiper-wrapper">
                                            <!-- single testimonial -->
                                            <div class="swiper-slide">
                                                <div class="single-testimonial">
                                                    <div class="rt-between mb--50">
                                                        <div class="rt-icon">
                                                            <img src="../assets/images/testimonial/quote.svg" alt="quote icon">
                                                        </div>
                                                        
                                                    </div>
                                                    <p class="testimonial-text">
                                                        I would highly recommend Michael Richard to anyone interested the subject matter. It has provided me with invaluable knowledge & a newfound passion topic. My only suggestion would be to add more live.
                                                    </p>
                                                    <div class="rt-testimonial-author mt--50">
                                                        <div class="rt-author-meta rt-flex rt-gap-20">
                                                            <div class="rt-author-img">
                                                                <img src="../assets/images/testimonial/author-1.png" alt="author">
                                                            </div>
                                                            <div class="rt-author-info">
                                                                <h5 class="mb-1">David Jhon</h5>
                                                                <p>Chairman Trust</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- rts arrow -->
                                    <div class="rts-slider-arrow testimonial-arrow">
                                        <div class="rt-slider-btn rt-next">
                                            <i class="fa-solid fa-chevron-left"></i>
                                        </div>
                                        <div class="rt-slider-btn rt-prev">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
        </div>
