   <!-- campus life -->
   <div class="rts-campus-life rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="campus-life">
                <div class="campus-life__content">
                    <h1 class="rts-section-title">Research Centers</h1>
                    <p class="description w-680">
                        From Nobel Prize winners to undergraduates, all members of the Unipix
                        community are engaged in the creation of knowledge.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- campus life end -->

<!-- reasearch area -->
<section class="rts-research-section rts-section-padding">
    <div class="container">
        <div class="row">
            
            <!-- research item -->
            <div class="research__items">
                <!-- apply content -->
                <div class="row justify-content-sm-center justify-content-md-start g-5">
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="research-procedure">
                            <div class="research-image">
                                <img src="../assets/images/apply/01.jpg" alt="application-thumb">
                            </div>
                            <div class="rt-serial">01</div>
                            <div class="icon">
                                <img src="../assets/images/icon/14.svg" alt="">
                            </div>
                            <a href="research.html#">Biomedical Research</a>
                            <p>Genomic Medicine: Investigating the role of genetics in health and disease to personalize medical treatments.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="research-procedure primary-style">
                            <div class="research-image">
                                <img src="../assets/images/apply/01.jpg" alt="application-thumb">
                            </div>
                            <div class="rt-serial">02</div>
                            <div class="icon">
                                <img src="../assets/images/icon/15.svg" alt="">
                            </div>
                            <a href="research.html#">Clinical Trials</a>
                            <p>Conducting controlled experiments to the safety and efficacy of new medical drugs, or interventions.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="research-procedure">
                            <div class="research-image">
                                <img src="../assets/images/apply/01.jpg" alt="application-thumb">
                            </div>
                            <div class="rt-serial">03</div>
                            <div class="icon">
                                <img src="../assets/images/icon/16.svg" alt="">
                            </div>
                            <a href="research.html#">Public Health Research</a>
                            <p>Addressing population-level health issues, studying epidemiology, preventive measures, and health policy.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- research text -->
            <div class="research__text">
                <div class="research__text--single">
                    <h5 class="rts-section-title">Exploration of Human Health</h5>
                    <p class="description">Delving into the intricacies of the human body, Medicine Research seeks to understand the fundamental processes governing health. From decoding the complexities of our genetic makeup to scrutinizing cellular interactions, researchers illuminate the pathways to well-being.</p>
                </div>
                <div class="research__text--single">
                    <h5 class="rts-section-title">Translating Discoveries to Care:</h5>
                    <p class="description">Beyond the laboratory bench, Medicine Research is about translation. It's about taking cutting-edge discoveries and transforming them into tangible treatments and interventions. Bridging the gap between theory and practice, researchers strive to make a real-world impact on patient outcomes.</p>
                </div>
                <div class="research__text--single">
                    <h5 class="rts-section-title">Collaboration and Interdisciplinary Insights:</h5>
                    <p class="description">In the spirit of progress, Medicine Research thrives on collaboration. Researchers from diverse backgrounds—clinicians, scientists, technologists, and ethicists—come together to pool their expertise, fostering interdisciplinary insights that drive innovation forward.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- reasearch area end-->