    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url(../assets/images/banner/breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Academics</li>
                        </ul>
                        <h2 class="section-title">Academics</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- about university -->
    <section class="rts-about-university pt--100 ">
        <div class="container">
            <div class="row">
                <div class="rts-section">
                    <div class="col-lg-4 col-md-3 col-sm-12">
                        <h3 class="rts-section-title">Academics</h3>
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-12">
                        <p class="rts-section-description">
                            This distinguished university of arts, sciences and professional studies is noted for exceptional program offerings and an interdisciplinary approach to learning, while also providing students with a diverse, high-quality student, faculty and staff population.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about university end -->


    <!-- multi row item -->
    <div class="rts-multi-row-section pt--100">
        <div class="container">
            <!-- first -->
            <div id="sse" class="row g-5 justify-content-center justify-content-start align-items-center">
                <div class="col-lg-7 col-md-11">
                    <div class="rts-multi-row-image">
                        <img src="../assets/images/feature/multi-1.jpg" alt="undergraduate education">
                    </div>
                </div>
                <div class="col-lg-5 col-md-11">
                    <div class="rts-multi-row-content">
                        <h4 class="row-title">School of Science & Engineering</h4>
                        <p>Unipix Undergrad is your guide to undergraduate academics and opportunities run by the Vice Provost for Undergraduate Education.</p>
                        <div class="program-list">
                            <a href="program-single.html" class="program-item"><span>Pharmacy <i class="fa-regular fa-chevron-right"></i></span> <span>BSC</span></a>
                            <a href="program-single.html" class="program-item"><span>Textile Engineering<i class="fa-regular fa-chevron-right"></i></span> <span>BSC</span></a>
                            <a href="program-single.html" class="program-item"><span>Computer Science & Engineering<i class="fa-regular fa-chevron-right"></i></span> <span>BSC</span></a>
                            <a href="program-single.html" class="program-item"><span>Electrical & Electronic Engineering<i class="fa-regular fa-chevron-right"></i></span> <span>BSC</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- second -->
            <div id="sbs" class="row g-5 justify-content-center justify-content-start align-items-center">
                <div class="col-lg-5 col-md-11">
                    <div class="rts-multi-row-content left-side">
                        <h3 class="row-title">Southeast Business School</h3>
                        <p>The VPGE office works collaboratively across the University to ensure that every graduate student has the best possible education.</p>
                        <div class="program-list">
                            <a href="program-single.html" class="program-item"><span>BBA <i class="fa-regular fa-chevron-right"></i></span> <span>Honors</span></a>
                            <a href="program-single.html" class="program-item"><span>MBA <i class="fa-regular fa-chevron-right"></i></span> <span>Masters</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-11">
                    <div class="rts-multi-row-image">
                        <img src="../assets/images/feature/multi-2.jpg" alt="undergraduate education">
                    </div>
                </div>
            </div>
            <!-- third -->
            <div id="sass" class="row g-5 justify-content-center justify-content-start align-items-center">
                <div class="col-lg-7 col-md-11">
                    <div class="rts-multi-row-image">
                        <img src="../assets/images/feature/multi-1.jpg" alt="undergraduate education">
                    </div>
                </div>
                <div class="col-lg-5 col-md-11">
                    <div class="rts-multi-row-content">
                        <h4 class="row-title">School of Arts & Social Sciences</h4>
                        <p>Unipix Undergrad is your guide to undergraduate academics and opportunities run by the Vice Provost for Undergraduate Education.</p>
                        <div class="program-list">
                            <a href="program-single.html" class="program-item"><span>Law & Justice<i class="fa-regular fa-chevron-right"></i></span> <span>Honors</span></a>
                            <a href="program-single.html" class="program-item"><span>English<i class="fa-regular fa-chevron-right"></i></span> <span>Honors</span></a>
                            <a href="program-single.html" class="program-item"><span>বাংলা ভাষা ও সাহিত্য বিভাগ<i class="fa-regular fa-chevron-right"></i></span> <span>Honors</span></a>
                            <a href="program-single.html" class="program-item"><span>Economics <i class="fa-regular fa-chevron-right"></i></span> <span>Honors</span></a>
                            <a href="program-single.html" class="program-item"><span>Master in Development Studies <i class="fa-regular fa-chevron-right"></i></span> <span>Honors</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- multi row item end -->


    <!-- mission end-->
    <section class="rts-campus-tour rts-section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="section-title rt-center mb--50">Our Campus Tour</h2>
                <div class="col-12">
                    <div class="rts-video-section height-500 mb--50">
                        <a href="https://www.youtube.com/watch?v=Uwq1uiuM_9w" class="rts-video-section-player popup-video video-btn">
                            <i class="fa-sharp fa-solid fa-play"></i>
                        </a>
                        <img src="../assets/images/about/video-thumb.jpg" alt="video-bg">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="rts-video-section-text rt-center mx-3">
                        <p>Embark on a journey of knowledge, discovery, and growth at Unipix University. Our admissions process is designed to identify bright, motivated individuals who are eager to contribute to our dynamic academic community. Whether you're a recent high school graduate or a transfer student seeking a new academic home, we invite you to explore the possibilities that await you.</p>
                        <a href="campus-life.html" class="mt--15 about-btn rts-nbg-btn btn-arrow">Visit Campus <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>