    <!-- photo gallery -->
    <div class="rts-gallery section-bg rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="rts-section mb--40 rt-center">
                    <h2 class="rts-section-title">University Photo Gallery</h2>
                </div>
            </div>
            <div class="gallery-area">
                <div class="row g-5">
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="../assets/images/campus/gallery/2x1.jpg" class="single-gallery__item">
                                <img src="../assets/images/campus/gallery/01.jpg" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="../assets/images/campus/gallery/2x2.jpg" class="single-gallery__item">
                                <img src="../assets/images/campus/gallery/02.jpg" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="../assets/images/campus/gallery/2x3.jpg" class="single-gallery__item">
                                <img src="../assets/images/campus/gallery/03.jpg" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="../assets/images/campus/gallery/2x4.jpg" class="single-gallery__item">
                                <img src="../assets/images/campus/gallery/04.jpg" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="../assets/images/campus/gallery/2x5.jpg" class="single-gallery__item">
                                <img src="../assets/images/campus/gallery/05.jpg" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="../assets/images/campus/gallery/2x6.jpg" class="single-gallery__item">
                                <img src="../assets/images/campus/gallery/06.jpg" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- photo gallery end -->