
    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url(../assets/images/banner/breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Apply Admission</li>
                        </ul>
                        <h2 class="section-title">Apply to Southeast University</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- admission page content -->
    <div class="rts-page-content rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="admission-content-top">
                        <div class="requirement-deadline">
                            <h3 class="rts-section-title">Required Documents</h3>
                            <div class="requirement-deadline__content">
                                <ul>
                                    <li class="single-requirement"> Admission Form on payment of Tk. 500/-</li>
                                    <li class="single-requirement">Attested copies of all academic certificates and mark sheets</li>
                                    <li class="single-requirement">1-8 for diploma students along with original documents</li>
                                    <li class="single-requirement"> 4 Copies of recent photographs (passport size)</li>
                                    <li class="single-requirement">Student’s NID/Birth certificate and Guardian’s NID photocopy attested</li>
                                    <li class="single-requirement">Attested Job experience certificate (only for 48 credits MBA)</li>
                                    <li class="single-requirement">Foreign Students: A copy of recent passport (at least one (1) year validity) Copies of all academic documents together with a testimonial, attested by the Diplomatic Mission Stating the duration of the courses studied by the applicant. Police Clearance Certificate from own country. "NOC from the Ministry of Foreign Affairs & Ministry of Education of the Government of Bangladesh.</li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- admission page content end -->
    <!-- semister fee chart -->
    <div class="semister-fee pb--120 pb__md--80">
        <div class="container">
            <div class="row">
                <!-- single table  -->
                <div class="semister-fee__content mb--80">
                    <h5 class="rts-section-title">School of Science & Engineering (SSE)</h5>
                    <!-- tab item -->
                    <div class="rts-fee-chart">
                        <div class="rts-fee-chart__tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="undergrade-1-tab" data-bs-toggle="tab" data-bs-target="#undergrade-1" type="button" role="tab" aria-controls="undergrade-1" aria-selected="true">Undergraduate</button>
                                </div>
                            </nav>
                        </div>
                        <div class="rts-fee-chart__content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="undergrade-1" role="tabpanel" aria-labelledby="undergrade-1-tab">
                                <table class="table">
                                    <thead class="table-theme">
                                        <tr>
                                            <th>Program</th>
                                            <th> Requirements </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">Business & Administration</td>
                                            <td> 
                                                A student should have at least second division or minimum GPA of 2.5 in both SSC & HSC examinations or a minimum GPA of 2.00 in SSC or in HSC, combined total being not lower than 6.00.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                . A student must have at least 5 subjects in O Level with GPA 2.50 and 2 subjects in A Level with GPA 2.0 (in the scale of A=5, B=4, C=3, D=2, E=1).
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single table  -->
                <div class="semister-fee__content">
                    <h5 class="rts-section-title">Southeast Business School (SBS)</h5>
                    <!-- tab item -->
                    <div class="rts-fee-chart">
                        <div class="rts-fee-chart__tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="undergrade-2-tab" data-bs-toggle="tab" data-bs-target="#undergrade-2" type="button" role="tab" aria-controls="undergrade-2" aria-selected="true">Undergraduate</button>
                                    <button class="nav-link" id="grade-tution-2-tab" data-bs-toggle="tab" data-bs-target="#grade-tution-2" type="button" role="tab" aria-controls="grade-tution-2" aria-selected="false">Master's</button>
                                </div>
                            </nav>
                        </div>
                        <div class="rts-fee-chart__content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="undergrade-2" role="tabpanel" aria-labelledby="undergrade-2-tab">
                                <table class="table">
                                    <thead class="table-theme">
                                        <tr>
                                            <th>Program</th>
                                            <th> Requirements </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">Business & Administration</td>
                                            <td> 
                                                A student should have at least second division or minimum GPA of 2.5 in both SSC & HSC examinations or a minimum GPA of 2.00 in SSC or in HSC, combined total being not lower than 6.00.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                . A student must have at least 5 subjects in O Level with GPA 2.50 and 2 subjects in A Level with GPA 2.0 (in the scale of A=5, B=4, C=3, D=2, E=1).
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="grade-tution-2" role="tabpanel" aria-labelledby="grade-tution-2-tab">
                                <table class="table">
                                    <thead class="table-theme">
                                        <tr>
                                            <th>Program</th>
                                            <th> Requirements</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="3">MBA (Regular)</td>
                                            <td>
                                                A student should have at least second division or minimum GPA of 2.5 in both SSC & HSC examinations or a minimum GPA of 2.00 in SSC or in HSC, combined total being not lower than 6.00.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                A student must have at least 5 subjects in O Level with GPA 2.50 and 2 subjects in A Level with GPA 2.0 (in the scale of A=5, B=4, C=3, D=2, E=1).
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                At least a Bachelor’s degree with minimum 2nd division/class or CGPA of at least 2.00.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td rowspan="3">MBA (One-Year):</td>
                                            <td>
                                                A student should have at least second division or minimum GPA of 2.5 in both SSC & HSC examinations or a minimum GPA of 2.00 in SSC or in HSC, combined total being not lower than 6.00.
                                            <td>
                                        </tr>
                                        <tr>
                                            <td>
                                                A student must have at least 5 subjects in O Level with GPA 2.50 and 2 subjects in A Level with GPA 2.0 (in the scale of A=5, B=4, C=3, D=2, E=1).
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                At least a Bachelor’s degree with minimum 2nd division/class or CGPA of at least 2.00 and any job experience.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- tution fee end -->
