
    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url(../assets/images/banner/breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tuition and Fees</li>
                        </ul>
                        <h2 class="section-title">Tuition and Fees</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- tution fee -->
    <div class="page-content-top pt--120 pt__md--80">
        <div class="container">
            <div class="row">
                <h3 class="rts-section-title">About Tuition & Fees</h3>
                <p class="desc">Tuition rates for the Fall and Spring semesters are approved at the Board of Trustees meeting in July prior to the beginning of the academic year. Summer tuition rates are approved at the Board of Trustees meeting in February before the term begins. Course registration dates can be found on the . See Important Dates for payment due dates and other deadlines.
                </p>
            </div>
        </div>
    </div>
    <!-- semister fee chart -->
    <div class="semister-fee pb--120 pb__md--80">
        <div class="container">
            <div class="row">
                <!-- single tuition fee info  -->
                <div class="semister-fee__content mt--80 v_2">
                    <h5 class="rts-section-title">School of Science & Engineering (SSE)</h5>
                    <!-- tab item -->
                    <div class="rts-fee-chart">
                        <div class="rts-fee-chart__tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                                    <button class="nav-link" id="undergrade-tab" data-bs-toggle="tab" data-bs-target="#undergrade" type="button" role="tab" aria-controls="undergrade" aria-selected="true" disabled>FALL 2024</button>
                                </div>
                            </nav>
                        </div>
                        <div class="rts-fee-chart__content" id="nav-tabContent2">
                            <div class="tab-pane fade show active" id="undergrade" role="tabpanel" aria-labelledby="undergrade-tab">
                                <table class="table">
                                    <thead class="table-theme">
                                        <tr>
                                            <td>Name of the Program with duration</td>
                                            <td>Total Credits Required</td>
                                            <td>Tuition Per Credit (Tk)</td>
                                            <td>Total Tuition (Tk)</td>
                                            <td>Student Activity Fee (One time)</td>
                                            <td>Laboratory Fee (One time)</td>
                                            <td>Non Credit Subject Fees (Tk) (One time)</td>
                                            <td>Approximate Total Cost (Tk)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single tuition fee info  -->
                <div class="semister-fee__content mt--80 v_2">
                    <h5 class="rts-section-title">School of Science & Engineering (SSE)</h5>
                    <!-- tab item -->
                    <div class="rts-fee-chart">
                        <div class="rts-fee-chart__tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                                    <button class="nav-link" id="undergrade-tab" data-bs-toggle="tab" data-bs-target="#undergrade" type="button" role="tab" aria-controls="undergrade" aria-selected="true" disabled>FALL 2024</button>
                                </div>
                            </nav>
                        </div>
                        <div class="rts-fee-chart__content" id="nav-tabContent2">
                            <div class="tab-pane fade show active" id="undergrade" role="tabpanel" aria-labelledby="undergrade-tab">
                                <table class="table">
                                    <thead class="table-theme">
                                        <tr>
                                            <td>Name of the Program with duration</td>
                                            <td>Total Credits Required</td>
                                            <td>Tuition Per Credit (Tk)</td>
                                            <td>Total Tuition (Tk)</td>
                                            <td>Student Activity Fee (One time)</td>
                                            <td>Laboratory Fee (One time)</td>
                                            <td>Non Credit Subject Fees (Tk) (One time)</td>
                                            <td>Approximate Total Cost (Tk)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                        <tr>
                                            <td>BSc in CSE 4 years</td>
                                            <td>150</td>
                                            <td>4,250</td>
                                            <td>6,37,500</td>
                                            <td>22,500</td>
                                            <td>30,000</td>
                                            <td>N/A</td>
                                            <td>6,90,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- single tuition fee info  -->
                 <div class="semister-fee__content mt--80 v_2">
                    <h5 class="rts-section-title">Admission Fee</h5>
                    <!-- tab item -->
                    <div class="rts-fee-chart">
                        <div class="rts-fee-chart__tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                                    <button class="nav-link" id="undergrade-tab" data-bs-toggle="tab" data-bs-target="#undergrade" type="button" role="tab" aria-controls="undergrade" aria-selected="true" disabled>FALL 2024</button>
                                </div>
                            </nav>
                        </div>
                        <div class="rts-fee-chart__content" id="nav-tabContent2">
                            <div class="tab-pane fade show active" id="undergrade" role="tabpanel" aria-labelledby="undergrade-tab">
                                <table class="table">
                                    <thead class="table-theme">
                                        <tr>
                                            <td>Fees Payble at the Time of Admission</td>
                                            <td>Semester Wise Payment Mode</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Admission Fee : Tk 15,000 (Non refundable)</td>
                                            <td>1st installment: 40% (During Registration)</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Library Fee: Tk 2,000 (Non refundable)</td>
                                            <td>2nd installment : 30% (Before Mid Term Exam)</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Admission Form Fee: Tk 500 (Non refundable)</td>
                                            <td>3rd installment : 30% (Before Final Exam)</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Insurance Premium: Tk 100 (per year)</td>
                                            <td></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Total: Tk 17,600</td>
                                            <td></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single tuition fee info  -->
                <div class="semister-fee__content mt--80 v_2">
                    <h5 class="rts-section-title">Admission Fees Payment Procedure</h5>
                    <!-- tab item -->
                    <div class="rts-fee-chart">
                        <div class="rts-fee-chart__tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                                    <button class="nav-link" id="undergrade-tab" data-bs-toggle="tab" data-bs-target="#undergrade" type="button" role="tab" aria-controls="undergrade" aria-selected="true" disabled>FALL 2024</button>
                                </div>
                            </nav>
                        </div>
                        <div class="rts-fee-chart__content" id="nav-tabContent2">
                            <div class="tab-pane fade show active" id="undergrade" role="tabpanel" aria-labelledby="undergrade-tab">
                                <table class="table">
                                    <thead class="table-theme">
                                        <tr>
                                            <td>Mode</td>
                                            <td>Schedule</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Bank/Bank Booth(on Campus)</td>
                                            <td>10.00 am to 3.30 pm(Sunday to Thursday)</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                Online Payment through: <br>
                                                • Bkash, Rocket, Nagad, Upay <br>
                                                • VISA, MASTER CARD, AMEX <br>
                                                • Mobile Banking and Net Banking <br>
                                                (Standard charge applicable)	<br>
                                            </td>
                                            <td>9.00 am to 8.00 pm(every day)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single tuition fee info  -->
                <div class="semister-fee__content mt--80 v_2">
                    <h5 class="rts-section-title">Required Documents for Admission</h5>
                    <!-- tab item -->
                    <div class="rts-fee-chart">
                        <div class="rts-fee-chart__content" id="nav-tabContent2">
                            <div class="tab-pane fade show active" id="undergrade" role="tabpanel" aria-labelledby="undergrade-tab">
                                <ul>
                                    <li>Admission Form on payment of Tk. 500/-</li>
                                    <li>
                                        Attested copies of all academic certificates and mark sheets (1-8 for diploma students) along with original documents
                                    </li>
                                    <li>
                                        4 Copies of recent photographs (passport size), Student’s NID/Birth certificate and Guardian’s NID photocopy attested
                                    </li>
                                    <li>
                                        Attested Job experience certificate (only for 48 credits MBA)
                                    </li>
                                    <li>
                                        Foreign Students: A copy of recent passport (at least one (1) year validity) Copies of all academic documents together with a testimonial, attested by the Diplomatic Mission Stating the duration of the courses studied by the applicant. Police Clearance Certificate from own country. "NOC from the Ministry of Foreign Affairs & Ministry of Education of the Government of Bangladesh.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tution fee end -->