    <!-- footer -->
    <footer class="footer v__1">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <div class="footer__widget--logo">
                            <a href="https://html.themewant.com/Southeast University/index"><img src="../assets/images/logo/seu_logo.png" height="60" width="160" alt="logo"></a>
                        </div>
                        <p class="footer__widget--description">
                            We are passionate education dedicated to providing high-quality resources learners
                            all backgrounds.
                        </p>
                        <div class="footer__widget--social">
                            <ul class="social">
                                <li class="social__link"><a href="index.html#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li class="social__link"><a href="index.html#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li class="social__link"><a href="index.html#"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li class="social__link"><a href="index.html#"><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6 class="footer__widget--title">University</h6>
                        <div class="footer__widget--menu">
                            <ul>
                                <li><a target="_blank" href="https://ums.seu.edu.bd">UMS</a></li>
                                <li><a target="_blank" href="https://admission.seu.edu.bd/">Online Admission</a></li>
                                <li><a target="_blank" href="https://degree-verify.seu.edu.bd/">Verify Degree</a></li>
                                <li><a target="_blank" href="http://mail.seu.edu.bd/">SEU Mail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6 class="footer__widget--title">Our Campus</h6>
                        <div class="footer__widget--menu">
                            <ul>
                                <li><a href="about.html">About </a></li>
                                <li><a href="../campus-life.html">Campus life</a></li>
                                <li><a href="faculty.html">Faculty Staff</a></li>
                                <li><a href="event.html">Event</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6 class="footer__widget--title">Quick Button</h6>
                        <div class="footer__widget--button">
                            <a href="admission.html" class="cta__button active">Applying</a>
                            <a href="contact.html" class="cta__button">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- footer copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright__wrapper">
                        <p>Copyright &copy; 2024 <a href="index.html#">Southeast University</a> All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer copyright end -->


    <!-- offcanvase menu -->
    <!-- header style two -->
    <div id="side-bar" class="side-bar">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="../assets/images/banner/seu_logo_black.png" alt="Southeast University">
            </div>
            <div class="inner-content">
                <p class="disc">
                    A modern HTML template for education, offering intuitive design & essential features for seamless learning experiences.
                </p>
                <!-- offcanvase banner -->
                <div class="offcanvase__banner mt--50">
                    <div class="offcanvase__banner--content">
                        <img src="../assets/images/offcanvase.jpg" alt="offcanvase">
                        <a target="_blank" href="https://admission.seu.edu.bd/" class="rts-theme-btn">Apply Now</a>
                    </div>
                </div>
                <div class="offcanvase__info">
                    <div class="offcanvase__info--content">
                        <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                        <a href="index.html#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Tejgon Dhaka, Bangladesh</a>
                        <div class="offcanvase__info--content--social">
                            <p class="title">Follow Us:</p>
                            <div class="social__links">
                                <a href="index.html#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="index.html#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="index.html#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="index.html#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->

        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li>
                        <a href="about.html" class="main">About</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Academics</a>
                        <ul class="submenu mm-collapse">
                            <li class="third-lvl has-dropdown">
                                <a href="#">School of Science & Engineering</a>
                                <ul class="submenu third-lvl base">
                                    <li><a class="mobile-menu-link" href="">Pharmacy</a></li>
                                    <li><a class="mobile-menu-link" href="">Textile Engineering</a></li>
                                    <li><a class="mobile-menu-link" href="">Architecture</a></li>
                                    <li><a class="mobile-menu-link" href="">Computer Science & Engineering</a></li>
                                    <li><a class="mobile-menu-link" href="">Electrical & Electronic Engineering</a></li>
                                </ul>
                            </li>
                            <li><a class="mobile-menu-link" href="academic.html#sbs">Southeast Business School</a></li>
                            <li class="has-dropdown third-lvl">
                                <a href="#">School of Arts & Social Sciences</a>
                                <ul class="submenu third-lvl base">
                                    <li><a class="mobile-menu-link" href="">Law & Justice</a></li>
                                    <li><a class="mobile-menu-link" href="">English</a></li>
                                    <li><a class="mobile-menu-link" href="">বাংলা ভাষা ও সাহিত্য বিভাগ</a></li>
                                    <li><a class="mobile-menu-link" href="">Economics</a></li>
                                    <li><a class="mobile-menu-link" href="">Master in Development Studies</a></li>
                                </ul>
                            </li>
                            <li><a class="mobile-menu-link" target="_blank" href="https://seu.edu.bd/dept/seu_code_of_coduct.pdf"> Code of Conduct </a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="index.html#" class="main">Admission</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="tuition-fee.html">Tuition Fees</a></li>
                            <li><a class="mobile-menu-link" href="admission-requirments.html">Admission Requirement</a></li>
                            <li><a class="mobile-menu-link" href="scholarship.html">Scholarship / Waiver</a></li>
                            <li><a class="mobile-menu-link" target="_blank" href="https://seu.edu.bd/downloads/AB-Fall-24-1.pdf">Brochure/Flyer</a></li>
                            <li><a class="mobile-menu-link" target="_blank" href="https://admission.seu.edu.bd/">Online Admission</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="administration.html" class="main">Administration</a>
                    </li>
                    <li>
                        <a href="research.html" class="main">Research</a>
                    </li>
                    <li>
                        <a href="campus-life.html" class="main">Campus Life</a>
                    </li>
                    <li>
                        <a href="photo-gallery.html" class="main">Photo Gallery</a>
                    </li>
                    <li>
                        <a href="contact.html" class="main">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="offcanvase__info--content mt--30">
                <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                <a href="index.html#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Yarra Park, Melbourne, Australia</a>
                <div class="offcanvase__info--content--social">
                    <p class="title">Follow Us:</p>
                    <div class="social__links">
                        <a href="index.html#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="index.html#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="index.html#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="index.html#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->

    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input class="search-input autocomplete ui-autocomplete-input" type="text" placeholder="Search by keyword or #" autocomplete="off">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts back to top end -->
    <div id="anywhere-home" class="">
    </div>
