    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url(../assets/images/banner/breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Scholarships</li>
                        </ul>
                        <h2 class="section-title">Scholarships for Students </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- Scholarship content -->
    <div class="rts-scholarship rts-section-padding">
        <div class="container">
            <div class="rts-scholarship-description">
                <div class="row sticky-coloum-wrap justify-content-md-center justify-content-start">
                    <div class="col-lg-8 col-md-11">
                        <div class="program-description-area">
                            <div class="program-big-thumb">
                                <img src="../assets/images/course/scholarship-big.jpg" alt="program">
                            </div>
                            <div class="program-about">
                                <h4 class="title">Scholarship Opportunities at Southeast University</h4>
                                <p>At Southeast University, we are committed to supporting academic excellence and ensuring that deserving students have access to quality education. Through a range of scholarship opportunities, we aim to recognize and reward outstanding achievements. Explore the various scholarships available:</p>
                            </div>
                            <div class="program-credit-area">
                                <div class="program-accordion">
                                    <div class="accordion" id="rts-accordion">
                                        <!-- single accordion  -->
                                        <div id="scholarship1" class="accordion-item">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                                Merit Based Scholarships
                                            </button>
                                            <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="table-head">
                                                                <td class="td">HSC Result (Including 4th Subject)</td>
                                                                <td class="td">Weight</td>
                                                                <td class="td">SSC Result (Including 4th Subject)</td>
                                                                <td class="td">Weight</td>
                                                                <td class="td">Cumulative Weighted Average GPA</td>
                                                                <td class="td">GPA</td>
                                                                <td class="td">Scholarship</td>
                                                                <td class="td">Required CGPA & TGPA To Continue Scholarship</td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                        </tbody>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                         <!-- single accordion  -->
                                        <div id="scholarship2" class="accordion-item">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                Pharmacy & LLB
                                            </button>
                                            <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="table-head">
                                                                <td class="td">HSC Result (Including 4th Subject)</td>
                                                                <td class="td">Weight</td>
                                                                <td class="td">SSC Result (Including 4th Subject)</td>
                                                                <td class="td">Weight</td>
                                                                <td class="td">Cumulative Weighted Average GPA</td>
                                                                <td class="td">GPA</td>
                                                                <td class="td">Scholarship</td>
                                                                <td class="td">Required CGPA & TGPA To Continue Scholarship</td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                        </tbody>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single accordion  -->
                                        <div id="scholarship3" class="accordion-item">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                Scholarship for Diploma Holder Admitted in BSc Regular Program
                                            </button>
                                            <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="table-head">
                                                                <td class="td">HSC Result (Including 4th Subject)</td>
                                                                <td class="td">Weight</td>
                                                                <td class="td">SSC Result (Including 4th Subject)</td>
                                                                <td class="td">Weight</td>
                                                                <td class="td">Cumulative Weighted Average GPA</td>
                                                                <td class="td">GPA</td>
                                                                <td class="td">Scholarship</td>
                                                                <td class="td">Required CGPA & TGPA To Continue Scholarship</td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>5.00</td>
                                                                <td>40%</td>
                                                                <td>5.00</td>
                                                                <td>5.00</td>
                                                                <td>60%</td>
                                                                <td>3.80</td>
                                                            </tr>
                                                        </tbody>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single accordion  -->
                                        <div id="scholarship4" class="accordion-item">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                Terms & Conditions of Scholarship
                                            </button>
                                            <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="table-head">
                                                                <td class="td"></td>
                                                                
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>
                                                                    Merit based scholarship will remain valid for 3 consecutive semesters (2 semesters for Pharmacy & LLB) from the begining. In the 4th semester (for Pharmacy & LLB 3rd semester), students will be awarded scholarship based on CGPA of previous 3 semesters (2 semeseters for Pharmacy & LLB). From 5th (for Pharmacy & LLB 4th) semester and onwards students will be awarded scholarship based on TGPA.
                                                                </td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Student admitted with 40% / 60% scholarship may be eligible for a lower category of scholarship based on TGPA in the scholarship chart but nobody will be eligible for a higher category of scholarship based on TGPA.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Once a student decides to claim a merit waiver based on their semester resuits, they will not be allowed to move back to scholarship based on their HSC and SSC results.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar -->
                    <div class="col-lg-4 col-md-11 sticky-coloum-item">
                        <div class="program-sidebar">
                            <!-- curriculum -->
                            <div class="program-curriculum">
                                <h6 class="heading-title">B.A In African Studies</h6>
                                <div class="program-menu">
                                    <ul class="list-unstyled">
                                        <li><a href="scholarship.html#"><span><i class="fa-light fa-arrow-right"></i></span>Merit based</a></li>
                                        <li><a href="scholarship.html#"><span><i class="fa-light fa-arrow-right"></i></span>Special scholarship</a></li>
                                        <li><a href="scholarship.html#"><span><i class="fa-light fa-arrow-right"></i></span>Pharacy && LLB</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- join event -->
                            <div class="program-event">
                                <div class="program-event-content">
                                    <h4 class="event-title">
                                        Southeast University
                                    </h4>
                                    <p>
                                        Contact Information
                                    </p>
                                    <div class="single-event-content-meta">
                                        <div class="event-time">
                                            <span><i class="fa-sharp fa-thin fa-phone"></i></span>
                                            <a href="callto:0000000">000000000</a>
                                        </div>
                                        <div class="event-time">
                                            <span><i class="fa-sharp fa-thin fa-envelop"></i></span>
                                            <a href="callto:0000000">example@gmail.com</a>
                                        </div>
                                        <div class="event-place">
                                            <span><i class="fa-sharp fa-thin fa-location-dot"></i></span>
                                            <span>Tejgon Dhaka, Bangladesh</span>
                                        </div>
                                        
                                    </div>
                                    <a target="_blank" href="https://admission.seu.edu.bd" class="rts-theme-btn with-arrow btn-white lh-100">Online Application <span><i class="fa-thin fa-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- program content end -->